.flash-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    animation: pulse 2s infinite;
    margin: 20px 20px 10px 0;
    max-width: 400px;
    margin-right: .5rem;
}

.flash-ad-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 8px;
}

.flash-ad-text {
    font-size: 0.9rem;
}

.flash-code {
    font-size: 1.1rem;
    color: #d32f2f;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}