/* General Footer Styling */
footer {
    background-color: #2d2d2d;
    color: var(--onyx);
    padding: 1.3rem 0;
    margin-top: 3rem;
}

/* Container Styling */
.footer-category .container {
    border-bottom: 1px solid var(--onyx);
    padding: 10px 150px;
}

.footer-category-box {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap; 
}

.footer-category-link {
    position: relative;
    text-decoration: none;
    white-space: nowrap; 
    display: inline-block;
    margin-right: 0.6rem;
    margin-bottom: 0.3rem;
    color: var(--sonic-silver);
    font-size: 0.9rem;
    transition: color 0.2s;
    padding: 8px 12px;
    transition: .3s ease;
}

.footer-category-link:hover {
    color: var(--orange);
    text-decoration: none;
}

/* Add a vertical line after each link except the last one */
.footer-category-link:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    background-color: #ddd; /* Adjust the color as needed */
    width: 1px;
    height: 20px; /* Adjust the height as needed */
}


.footer-category-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: left;
    color: var(--orange);
}

.category-box-title {
    font-size: 1rem;
    color: var(--spanish-gray);
    margin-bottom: 0.5rem;
}



/* Footer Navigation Section */
.footer-nav {
    padding: 2rem ;
}

.footer-nav .container {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    border-bottom: 1px solid var(--onyx);
    padding-bottom: 30px;
}

.footer-nav-list {
    list-style: none;
    font-size: 1.5rem;
    text-decoration: none;
}


.nav-title {
    font-size: 1.2rem;
    color: #d1c4e9;
    margin-bottom: 0.5rem;
}

.footer-nav-item {
    margin-bottom: 0.3rem;
}

.footer-nav-link {
    color: #b0bec5;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.2s ease;
}

.footer-nav-link:hover {
    color: #ffd54f;
    text-decoration: none;
}

/* Contact and Social Links */
.flex {
    display: flex;
    align-items: center;
}

.icon-box {
    font-size: 1.1rem;
    color: #ffd54f;
    margin-right: 8px;
}

.content {
    color: #b0bec5;
    font-size: 0.9rem;
}

.social-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: .5rem;
}

.social-link a {
    font-size: 1.5rem;
    color: var(--spanish-gray);
    transition: color 0.2s ease; 
}

.social-link a:hover {
    color: var(--orange);
}

/* Footer Bottom Section */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    font-size: 0.9rem;
    color: #ddd;
}

.footer-bottom .container {
    text-align: center;
}

.payment-img {
    max-width: 340px;
    width: 100%;
    margin-bottom: 1rem;
}

a {
    color: #ffd54f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
