/* Container for cards */
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 85%;
  margin: 0 auto;
  /* Center the grid */
  padding: 1rem;
  /* Removed z-index */
}

/* Individual Card Styling */
.card {
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 8px;
  width: 260px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  transition: transform 0.3s ease;
}

/* Image Container and Styling */
.card-img-container {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 8px;
  overflow: hidden;
}

.card:hover .card-img {
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.card-img {
  width: 11rem;
  height: 11rem;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Card Details */
.card-details {
  padding: 8px;
}

/* Reviews and Stars */
.card-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.empty-star {
  color: #FFBF00;
}

.total-reviews {
  font-size: 0.9rem;
  color: #666;
  margin-left: 8px;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* New Price */
.new-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
}

/* Add to Cart Button */
.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 1rem;
  z-index: 5;
  /* Ensure button is on top */
}

.add-to-cart-btn:hover {
  background-color: #000;
  color: #fff;
}

.cart-icon {
  margin-right: 5px;
}