/* Container for cards */
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  width: 100%;
  margin: 0 auto;
  /* Center the grid */
  padding: 1rem;
  /* Removed z-index */
}

/* Individual Card Styling */
.card {
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 8px;
  width: 240px;
  height: min-content;
  overflow: hidden;
  position: relative;
  /* background-color: var(--cultured); */
  background-color: #fff;
  transition: transform 0.3s ease;
  padding: 5px;
}

/* Image Container and Styling */
.card-img-container {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 8px;
  overflow: hidden;
}

.card:hover .card-img {
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.card-img {
  width: 11rem;
  height: 11rem;
  object-fit: contain; 
}

/* Card Details */
.card-details {
  padding: 8px;
}

/* Reviews and Stars */
.card-reviews {
  display: flex;
}

.filled-star {
  padding: 0;
  margin: 0;
  gap: 0;
  color: #FFBF00;
}

.filled-star,
.empty-star {
  margin-right: 0.3rem;
  color: #FFBF00;
}

.empty-star {
  color: lightgray;
}

.total-reviews {
  margin-left: 1.6rem;
  font-size: 0.9rem;
  color: #666;
}

.card-title {
  font-weight: 300;
  text-align: left;
  letter-spacing: 2px;
  margin: 0 0 7px 0;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* New Price */
.new-price {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1.3rem;
}

/* Add to Cart Button */
.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 1rem;
  z-index: 5;
  /* Ensure button is on top */
}

.add-to-cart-btn:hover {
  background-color: var(--pink);
  color: #fff;
  border: none;
}


.cart-icon {
  margin-right: 5px;
}